# Папка виртуального окружения
venv/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы с переменными окружения
.env

# Папки от IDE (на всякий случай)
.idea/
.vscode/

# База данных SQLite
*.db
app.db

# Папка тестов
test/
# Папка с торрентами
parser_dumps/
# Папка кодом страниц для дебага
torrent_cache/